<div class="section-content home ui segment tall stacked">
<form {{action "save" on="submit"}} class="ui form">
  <div class="field">
    <label>
      Categoria
      {{ember-selectize
        content=model.categories
        optionLabelPath="content.name"
        selection=model.question.category
        placeholder="Selecciona una categoria" }}        
    </label>
  </div>

  <div class="field">
    <label>
      Titulo
      {{input type="text" value=model.question.title}}
    </label>
  </div>
  <div class="field">
    <label>
      Descripción
      {{input type="text" value=model.question.description}}
    </label>
  </div>
  <div class="field">
    <input class="ui button" type="submit" value="Guardar">
  </div>
</form>
</div>