{{#link-to 'admin.users'}}Usuarios{{/link-to}}
{{#link-to 'admin.alliances'}}Alianzas{{/link-to}}
{{#link-to 'admin.positions'}}Cargos{{/link-to}}
{{#link-to 'admin.categories'}}Categorias{{/link-to}}



<input class="input-file scan-app-magia" type="file" id="file">
<a {{action 'process'}} class="scan-app-process">Cargar data</a>
