<div class="section-content home ui segment tall stacked">
<form {{action "save" on="submit"}} class="ui form">
  <div class="field">
    <label>
      Nombre
      {{input type="text" value=model.name}}
    </label>
  </div>
  <div class="field">
    <label>
      Lista
      {{input type="text" value=model.list}}
    </label>
  </div>
  <div class="field">
    <input class="ui button" type="submit" value="Guardar">
  </div>
</form>
</div>