body {
	font-family: $font-sans;
}

ul, ol {
    margin: 0;
    padding: 0;
    list-style-type: none;
    color: $dark;
}

p {
    color: $dark;
    font-size: 1.125em;
    line-height: 1.4em;
    font-weight: 400;
    margin: 0 0 1.5em;
}

a {
    -webkit-transition: color 0.1s linear;
    -moz-transition: color 0.1s linear;
    transition: color 0.1s linear;
    color: $main-color;
    font-size: 1.125em;
    text-decoration: none;

    &:active,
    &:focus,
    &:hover {
        color: shade($main-color, 30%);
    }
}

small {
    font-family: $font-sc;
    text-transform: lowercase;
    font-size: 1em;
}

h1, h2, h3, h4, h5, h6 {
	color: $dark;
    margin-bottom: 0.5em;
}

h1 { font-size: 2em; }
h2 { font-size: 1.5em; }
h3 { font-size: 1.3em; }
h4 { font-size: 1.2em; }
h5 { font-size: 1.125em; }
h6 { font-size: 1.125em; }


article {

    .example {
        .two-col {
        @include span-columns(6);
        }

        .three-col {
        @include span-columns(4);
        }
    }
}


mark {
    background-color: tint($main-color, 30%);
    color: set-notification-text-color($main-color);
}