<div  class="candidate-edit section-content home ui segment tall stacked">
	
<h2 class="ui header dividing">
  <div class="content">
    Editar Candidato
  </div>
</h2>
<div>
	{{partial "admin/candidates/form"}}
</div>
</div>