<div class="candidate" style="padding: 15px; background: #fff; border-radius: 6px;">
<h2 class="ui header dividing -flex">
    Alianzas
 </h2>

<ul class="ui link items alliances">
	{{#each model as |alliance|}}
		<li class="item"> 
			<div class="content">
			  <div class="header">
			   {{#link-to "alliances.view" alliance.id}} 
			   	{{alliance.name}} 
			   {{/link-to}}			
			  </div>
			</div>
		</li>
	{{/each}}
</ul>
</div>
