<div class="alliances">
	<h2 class="ui header dividing -flex">
		Partidos
	</h2>
	<div class="alliances-list">
	{{#each model as |alliance|}}
		<div class="item"> 
			<div class="image">
			  <img src="{{alliance.avatar.url}}">
			</div>
			<div class="content">
				<h2 class="header">
					{{alliance.name}} 
				</h2>
			</div>
			<div class="action">
				{{#link-to "alliances.view" alliance.id class="ui tiny button inverted red"}} 
					Ver Partido
				{{/link-to}}
			</div>
		</div>
	{{/each}}

	</div>

</div>
