<div class="candidate-view" style="padding: 15px;">
<h2 class="alliance-heading">{{model.alliance.name}}</h2>

<ul class="alliance-list">
	{{#each model.candidates as |candidate|}}
		<li class="alliance-item">
		  <h2>
		  	{{#link-to 'candidates.view' candidate.id}}
		  		{{candidate.name}}
		  	{{/link-to}}
		  </h2> 
		  <span>{{candidate.position.name}}</span> 
		</li>
	{{/each}}
</ul>
</div>