{{outlet}}

<article class="about type-text">
	<h1 style="text-align: center;margin-bottom: 5px;">¿Quiénes Somos?</h1>

	<div class="como-es-posible" style="text-align: center;">
		<img src="/assets/images/comoesposible.jpg" alt="" width="100%">
	</div>
<p>
 El Colectivo COMOESPOSIBLE es una organización sin fines de lucro que trabaja el uso de tecnologías para transparentar y participar en la democracia. Trabajamos para trasladar el poder desde los pocos hacia los muchos. Creemos que el crear mejores democracias y fomentar la participación en procesos políticos es vital para conseguir países y vidas mejores.
</p>
<p>
La misión del Colectivo es fortalecer la democracia y reducir la desigualdad, promoviendo la transparencia y la participación ciudadana a través del uso innovador de las tecnologías de la información.
</p>
<p>
Somos una organización laica, respetuosa y defensora de la diversidad política, cultural, social, religiosa y sexual. Buscamos aportar a una sociedad justa e incluyente, donde ciudadanos y ciudadanas tenemos los mismos derechos y oportunidades.
</p>
<p>
Los miembros de COMOESPOSIBLE no somos apolíticos, sino todo la contrario: concebimos la buena política como una herramienta fundamental de transformación social, y cómo tal, nos proponemos generar los adecuados incentivos para que la política funcione bien, buscando que quienes ostentan cargos de representación popular se deban a sus ciudadanos y ciudadanas, y no a otros intereses particulares. Al interior del Colectivo hay miembros de diversas tendencias políticas, sin embargo, como organización no adscribimos a ningún partido político ni movimiento.
</p>

<h3 style="text-align: center;">Contáctenos</h3>

<div class="contact-data">

<div class="contact-column address">
	{{fa-icon 'map-marker'}}
	<p>AV. 12 DE OCTUBRE BQ.E E10-78 N23 VEINTIMILLA.
	QUITO – ECUADOR</p>
</div>

<div class="contact-column mail">
{{fa-icon 'envelope'}}	
	<p><a href="mailto:comoesposibleorg@gmail.com">comoesposibleorg@gmail.com</a></p>
</div> 

<div class="contact-column phone">
{{fa-icon 'phone'}}
<p>+593987313120</p>
</div>

</div>


</article>