{{outlet}}

<article class="methodology type-text">
	<h1 style="text-align: center;">Metodología</h1>

<h3>Ficha metodológica</h3>
<p>
A través de la página web: <div class="ui label">www.decide2017.com</div> todos los candidatos a la presidencia y los candidatos nacionales a la asamblea podrán dar a conocer a la ciudadanía la respuesta a 10 preguntas de interés nacional. De esta manera buscamos que los ecuatorianos puedan ejercer el derecho al voto mejor informados y conociendo de mejor manera las posiciones políticas de cada uno de sus candidatos.
</p>

<h3>Fechas importantes:</h3>
<p>
Con acuerdo ministerial no. Dm-2016-087 del 28 de julio de 2016 el Ministerio de Cultura entrega la personería jurídica a la organización  “comoesposible”.
Mediante oficio, el 28 de noviembre de 2016 se envía el proyecto “decide2017” a todos los presidentes y directores de los 15 partidos y movimientos inscritos a nivel nacional. En este oficio se solicita audiencia a cada uno para exponer el proyecto y solventar todas las inquietudes. Ningún partido ni movimiento responde a este oficio.
</p>
<p>
El 20 de diciembre del 2016 el proyecto fue presentado en el pleno del consejo de participación ciudadana y control social. Recibió felicitaciones por parte de todos los consejeros y consejeras que además se comprometieron a apoyar en la promoción y el desarrollo del mismo.
</p>
<p>
El consejo nacional electoral despúes de conocer el proyecto entregó con fecha 5 de enero de 2017 la información solicitada, que incluía las fotografías de todos los candidatos y mails de contacto.
</p>
<p>
El lunes 9 de enero de 2017 se envió por correo electrónico a los 8 candidatos presidenciales y 225 candidatos nacionales a la asamblea un correo electrónico explicando el proyecto y adjuntando un formulario para que nos hagan llegar sus respuestas a las 10 preguntas planteadas (este correo fue reenviado el día viernes 13 de enero y el domingo 15 de enero). En el mail se da un plazo de entrega de información de 7 días (hasta el domingo 15 de enero). Menos del 20% de los candidatos han respondido a nuestras preguntas. En este momento tenemos que dar un reconocimiento al movimiento unidad popular por hacernos llegar las respuestas de todos sus candidatos.
El miércoles 18 de enero entregamos a los candidatos 5 días más para la entrega de información y les explicamos la metodología que se seguirá a partir del día lunes 23 de enero de 2017.
</p>

<p class="ui sub header">Metodología utilizada para contestar las respuestas a partir del 23 de enero de 2017:</p>


<p>
Para los candidatos presidenciales que no contesten las preguntas hasta el domingo 22 de enero de 2017 se procederá de la siguiente manera:
Mediante el uso de información disponible de cada candidato en internet y que sea de acceso público se contestarán las 10 preguntas utilizando el siguiente orden:</p>

<ol class="ui list">
<li>
Si algún candidato de una lista ha contestado las preguntas se utilizarán las mismas respuestas para el resto de candidatos que no hayan contestado. De existir más de un candidato de que haya contestado las preguntas solo se utilizarán las respuestas del candidato que se encuentre ubicado más cerca al primer lugar de la lista (se entiende que el primer lugar de la lista lo conforma el candidato a la presidencia).</li>
<li>
Si no existe ningún candidato que haya contestado las preguntas, se pondrá "sin contestar".
</li>
<li>
 El hackatom cívico del 28 de enero de 2017 podrá sugerir cambios en las respuestas de los candidatos presidenciables que no hayan contestado si al parecer de la mayoría las respuestas indirectas no son correctas
</li>
</ol>



<h3>Objetivos:</h3>
<ul class="ui list">
<li>Entregar a la ciudadanía un espacio de información que les permita conocer los criterios políticos de cada uno de los candidatos nacionales a la asamblea sobre 10 temas de interés público.</li>
<li>Generar debate y discusión en la opinión pública sobra las propuestas de cada partido y candidato.</li>
 <li>Tener una base de datos con información de los criterios de cada uno de los candidatos que posteriormente pueda servir como una herramienta de rendición de cuentas.</li>
</ul>
 
<h3>¿Quienes somos?</h3>

<p>
El colectivo "comoesposible" es una organización sin fines de lucro que trabaja el uso de tecnologías para transparentar y participar en la democracia. Somos una organización laica, respetuosa y defensora de la diversidad política, cultural, social, religiosa y sexual. Buscamos aportar a una sociedad justa e incluyente, donde ciudadanos y ciudadanas tengamos los mismos derechos y oportunidades.
</p>

<p>
Los miembros de comoesposible no somos apolíticos, sino todo lo contrario: concebimos la buena política como una herramienta fundamental de transformación social, y como tal, nos proponemos generar los adecuados incentivos para que la política funcione bien, buscando que quienes ostentan cargos de representación popular se deban a sus ciuadanos y ciudadanas, y no a otros intereses particulares. Al interior del colectivo hay miembros de diversas tendencias políticas; sin embargo, como organización no adscribimos a ningún partido político ni movimiento.
</p>

<h3>Preguntas planteadas:</h3>
<p>
Las temáticas abordadas responden al consenso e interlocución lograda con diferentes organizaciones sociales interesadas en profundizar el debate público. Estos puntos han generado, adicionalmente, mucha controversia y se han encontrado en los debates sociales, no solo nacionales sino globales durante los últimos años.
</p>


<p><div class="ui label">Nota Final:</div> los candidatos podrán enviar la respuesta a las preguntas después del 22 de enero y en el transcuros de las siguientes 48 horas de enviada la información se subirá la misma a la página web. 
</p>
</article>