body {
   @include media($mobile) {
		padding: 0;
    }
}

.login {
	max-width: 350px;
	margin: 0 auto;
	padding-top: 10%;

	label {
		color: #fff !important;
	}
}

.login > .grid {
  height: 100vh;
}
.image {
  margin-top: -100px;
}
.column {
  max-width: 450px;
}