.main-container {
    padding: 0;
    height: auto;
    width: 86vw;
    margin: 70px 5vw 0 5vw;
    border-radius: 10px;
    max-width: 900px;
    min-height: 80vh;
    z-index: 1;
    position: relative;

    .segment {
        padding: 1em;
    }
}