<h2 class="ui header dividing -flex">
    Candidatos
 </h2>

<ul  class="ui link items">
	{{#each model as |candidate|}}
		<li class="item"> 
		<div class="ui tiny circular image" style="
    height: 80px;
">
		  <img src="{{candidate.avatar.url}}" style="
    position: relative;
    top: -10px;
">
		</div>
			<div class="content">
			  <div class="header">{{#link-to "candidates.view" candidate.id}} 
				{{candidate.name}} 
			{{/link-to}}</div>
			  <div class="description">
			    <p>{{candidate.alliance.name}}</p>
			  </div>
			</div>
		</li>
	{{/each}}
</ul>
